node_modules/**/*
build
ios/RCTBraintree.xcodeproj/xcuserdata/**/*
ios/RCTBraintree.xcodeproj/project.xcworkspace/**/*
.idea
.gradle/
gradlew
gradlew.bat
gradle/
*.properties
*.iml
npm-debug.log
.DS_Store
